<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        <label for="fullname">Full Name</label>
        <input name="fullname" type="text" placeholder="Full Name" required>
        <label for="username">Username</label>
        <input name="username" type="text" placeholder="Username" required>
        <label for="password">Password</label> 
        <input name="password" type="password" required>
        <label for="confirm-password">Confirm Password</label>
        <input name="confirm-password" type="password" required>
        <button>Register</button>
    </form>
</body>
</html>